// @include center-block;
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// @include text-truncate;
@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
